{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="column col-4 col-mx-auto flex-center">
    <div class="tile">
        <div class="tile-icon">
            <div class="example-tile-icon">
                <i class="icon icon-file centered"></i>
            </div>
        </div>
        <div class="tile-content">
            <p class="tile-title">The Avengers</p>
            <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any
                one
                hero to tackle...</p>
        </div>
    </div>
</div>

{% endblock %}