<header class="navbar nav-shadow bg-indigo">
    <section class="navbar-section">
        <form action="/search/">
            <div class="input-group input-inline">
                <input class="form-input" type="search" placeholder="Buscar" name="q">
                <button class="btn btn-indigo input-group-btn">Buscar</button>
            </div>
        </form>
    </section>
    <section class="navbar-center">
        <a href="/" class="btn btn-indigo"><i class="lni-home"></i> Inicio</a>
        <a href="/blog/" class="btn btn-indigo"><i class="lni-book"></i> Blog</a>
        <a href="/contactanos/" class="btn btn-indigo"><i class="lni-phone-handset"></i> Contáctanos</a>
        <a href="/about/" class="btn btn-indigo"><i class="lni-information"></i> Acerca de</a>

    </section>
    <section class="navbar-section">
        {%if user.is_authenticated%}
        {% if request.user.is_superuser %}
        <a href="/admin/" class="btn btn-indigo"><i class="lni-construction-hammer"></i> Consola de administrador</a>
        {% endif %}
        <div class="divider-vert"></div>
        <span class="text-light"><i class="lni-user text-light"></i> Hola, {{user.get_username}} </span>
        <div class="dropdown">
            <a href="#" class="btn btn-indigo dropdown-toggle" tabindex="0"> <i
                    class="lni-chevron-down text-white"></i></a>
            <ul class="menu pull-right">
                <li><a href="/edit_profile/"><i class="lni-cog"></i> Mi Perfil</a></li>
                <li><a href="/change_password/"><i class="lni-key"></i> Cambiar contraseña</a></li>
                <li><a href="/logout/"><i class="lni-shift-left"></i> Logout</a></li>
            </ul>
        </div>
    </section>
    {% endif %}
</header>
<script>

</script>