<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="column col-4 col-mx-auto">

  <h1>Recuperar contraseña</h1>
  <p>Ingresa tu correo electrónico y te enviaremos instrucciones para configurar una nueva clave</p>

  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">E-mail</label>
      {% render_field form.email placeholder="Ingresa tu correo electrónico" class+="form-input" %}
      {% for text in field %}
      <small style="color: grey">{{ field.help_text|safe }}</small></br></br>
      {% endfor %}
      {% for error in field.errors %}
      <p class="text-error">{{ error }}</p>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary input-group-btn">Enviar</button>
  </form>
</div>
{% endblock %}