{% extends "base.html" %}

{% block content %}
<div class="columns p-1">
    <div class="column col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title h5">...</div>
                <div class="card-subtitle text-gray">...</div>
            </div>
            <div class="card-body">
                <h1>{{object.title|title}}</h1>
                <p>{{object.content|linebreaks}}</p>
            </div>
        </div>
    </div>
</div>

{% if request.user.is_authenticated %}

{% endif %}

{% endblock %}