{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% block content %}
{% load widget_tweaks %}

<div class="columns">
    <div class="column col-4">
        <h1>{{ title }}</h1>
        <form action="" method="POST" class="form-horizontal">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                {% render_field field class="form-input" %}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary input-group-btn">Agregar publicación</button>
        </form>
    </div>
</div>
{% endblock %}